room hall_a capacity 100;
room hall_b capacity 100;

invigilator prof_x;
invigilator prof_y;

group cse_a size 40;

exam CS101
 room hall_a
 invigilator prof_x
 students cse_a
 slot 1;

exam CS102
 room hall_b
 invigilator prof_y
 students cse_a
 slot 1;
